.ba-banner {
    height: 100vh;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(237,236,234,1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(237,236,234,1);
    box-shadow: 0px 1px 10px 0px rgba(237,236,234,1);
}

.ba-hero {
    height: calc(100vh - 85px);
    background: {
        image: url(../img/hearo.jpeg);
        size: cover;
        color: #000;
    };
    padding: 9vh 0 0;
    color: #fff;
    

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__middle {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;
    }

    &__bottom {
        text-align: center;
    }

    &__scroll {
        display: inline-block;
        position: absolute;
        bottom: 200px;
        height: 67px;
        width: 45px;
        background: {
            image: url(../img/scroll.png);
            size: contain;
            repeat: no-repeat;
        };
    }
}

.ba-menu-btn {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 1.5rem;
    background-color: inherit;
    text-transform: uppercase;
    font-weight: 800;
    outline: none;
    border: none;
    letter-spacing: 0.1em;
}

.ba-menu-btn__lines {
    display: inline-block;
}

.ba-menu-btn__line {
    display: block;
    width: 18px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    border-radius: 3px;
    letter-spacing: 0.1em;
}

.ba-menu-btn__line-last {
    margin: 4px 0 0;
}

.ba-logo {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.875rem;;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.ba-hero__title {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0;
    line-height: 4rem;
}

.ba-hero__text {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 2.5rem;
    margin: 0;
    max-width: 400px;
}

.ba-hero__text p {
    margin: 0;
}

.ba-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.ba-menu__link {
    color: inherit;
    text-decoration: none;
}

.ba-header {
    max-height: 82px;
    height: 100%;
    margin: 14px 0;

}

.ba-header__wrapper {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #fff;
}

.ba-header .ba-logo {
    color: #000;
    padding-top: 10px;
    font-size: 1.875rem;
}

.ba-menu {
    max-width: 1045px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: #3b3b3b;
}

.ba-menu__link {
    margin-left: 60px;
}

.ba-about {
    max-width: 1150px;
    text-align: center;
    height: 210px;
    margin: 53px auto 69px;
}

.ba-section__title, .ba-somestatistics__title {
    font-family: 'Raleway', sans-serif;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.875rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    margin: 0;
}

.ba-section__desc, .ba-somestatistics__desc {
    font-family: 'Raleway', sans-serif;
    color: #3b3b3b;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 10px 0 15px;
}

.ba-about img {
    height: 100%;
}

.ba-text {
    font-family: 'Raleway', sans-serif;
    color: #3b3b3b;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #454545;
    margin: 0;
}

.ba-text p {
    text-align: left;
}

.ba-somestatistics {
    
    height: 458px;
    background-image: url(../img/about-bg.jpeg);
    color: #fff;
}

.ba-section-somestatistics {
    padding-top: 95px;
    text-align: center;
}

.ba-somestatistics__title {
    color: #fff;  
}

.ba-somestatistics__desc {
    color: #fff;
    margin: 10px 0 0;
}

.ba-text-wrapper {
    max-width: 904px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin: 55px 223px 0;
}

.ba-text-pastle__number {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0;
}

.ba-text-pastle__desc {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    max-width: 240px;
    margin: 15px 0 0;
}

/* ====================== */

.ba-products {
    max-width: 1150px;
    text-align: center;
    margin: 0 auto;
}

.ba-product {
    
    text-align: center;
    
    &__thumb {
        padding: 0;
    }
    &__img {
        max-width: 100%;
        
    }
}

.ba-section-header {
    margin: 50px 0;
}

.ba-product__title,
.ba-product__price {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    color: #454545;
    text-align: center;
    margin: 5px 20px;
    letter-spacing: 0.2px;
}

.ba-product__link {
    font-family: 'Raleway', sans-serif;
    color: #3b3b3b;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 20px 0;
}

[class^="ba-col"] {
    padding-bottom: 30px;
}

/*.ba-section {
    padding: 40px 0;
    text-align: center;
    &-header {
        text-align: center;
        margin-bottom: 1rem;
    }
    &__title {
        font-size: 1.875rem;
        font-weight: 800;
    }
    &__title_white {
        color: #fff;
    }
    &__desc {
        font-size: 1.125rem;
        font-weight: 600;
        margin: .5rem;
    }
    &__desc_uppercase {
        text-transform: uppercase;
    }
} */

.ba-team {
    max-width: 100%;
    padding: 40px 0;
    
    text-align: center;
    background-color: #ededed;
    &-member {
        text-align: center;
        text-transform: uppercase;
        
        
        &__name {
            @extend .ba-section__title;
            padding: 30px 0 0;
        }
        &__thumb {
            width: 216px;
            height: 216px;
            overflow: hidden;
            margin: 0 auto;
            border-radius: 50%;
        }

        &__img {
            border-radius: 50%;
            transition: transform .3s;

            &:hover {
                transform: scale(1.4);
            }
        }
    }
}

/* .ba-showcase {
    padding: 40px 0;
    text-align: center;
    background-color: #fff;
    [class^="ba-col"] {
        padding: 0;
    }

    &-wrapper {
        max-width: 100%;
        padding: 0;
        margin: 0 auto;
        img {
            max-width: 100%;
        
        }
    }

    &-insta {
        @extend .ba-product__price;
    }
} */

.ba-showcase {
    max-width: 1150px;
    padding: 15px 15px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;

    
    &-wrapper {
        max-width: 100%;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        img {
            max-width: 100%;
        }
    }

    &-insta {
        @extend .ba-product__price;
        font-size: 1.125rem;
        &__link {
            color: #454545;
        }
    }
}

.ba-footer {
    max-width: 100%;
    height: 527px;
    margin: 0 auto;
    padding: 58px 288px;
    text-align: center;
    background-color: #1e1e1e;
    color: #ededed;


    &-header {
        &__title {
            @extend .ba-section__title;
            font-size: 1.875rem;
            color: #ededed;
        }
    }
    
    &-wrapper {
        max-width: 1150px;
        margin: 66px 96px;
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
    }

    &-col ul {
        padding: 0;
    }

    &-col li {
        list-style: none;
        line-height: 30px;
    }

    &-col a {
        text-decoration: none;
        font-family: 'Raleway';
        font-size: 1rem;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.6px;
    }

    &-col img {
        padding-top: 30px;
        max-width: 100%;
    }

    &-col {
        min-width: 250px;
        &__title {
            font-family: 'Raleway';
            font-size: 1.125rem;
            color: #ededed;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 0.2px;
        }
        &__social {
            display: flex;
            flex-direction: row;
            li {
                padding-right: 8px;
            }
            img {
                padding: 0;
            }
        }
    }

}

